.weat{
    display: flex;
    flex-direction: column;
    background-color: rgb(30,30,32);
    padding: 15px 20px;
    border-radius: 20px;
    align-items: center;
    /* margin-right:20px ; */

}

.foreecastt{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.tame{
    background-color: rgb(30,30,32);

}

.iimgg{
    background-color: rgb(30,30,32);
    font-size: 40px;

}
@media screen and (max-width:320px) {
    .weat{
      margin-bottom: 30px;
    }
  
    
  }